#
# Software Name : towards5gs-helm
# SPDX-FileCopyrightText: Copyright (c) 2021 Orange
# SPDX-License-Identifier: Apache-2.0
#
# This software is distributed under the Apache License 2.0,
# the text of which is available at https://github.com/Orange-OpenSource/towards5gs-helm/blob/main/LICENSE
# or see the "LICENSE" file for more details.
#
# Author: Abderaouf KHICHANE, Ilhem FAJJARI, Ayoub BOUSSELMI, Ian Chen
# Software description: An open-source project providing Helm charts to deploy 5G components (Core + RAN) on top of Kubernetes
#
# Default values for free5gcControlPlane chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

global:
  projectName: free5gc
  amf:
    n2if:  # NGAP
      ipAddress: 10.100.50.249
    service:
      ngap:
        enabled: false
        name: amf-n2
        port: 38412
        nodeport: 31412
        protocol: SCTP
        type: NodePort
  n2network:
    name: n2network
    masterIf: eth0
    subnetIP: 10.100.50.248
    cidr: 29
    gatewayIP: 10.100.50.254
    excludeIP: 10.100.50.254
  n3network:
    name: n3network
    masterIf: eth0
    subnetIP: 10.100.50.232
    cidr: 29
    gatewayIP: 10.100.50.238
    excludeIP: 10.100.50.238

n3iwf:
  name: n3iwf
  replicaCount: 1
  image:
    name: free5gc/n3iwf
    tag: v4.2.0
    pullPolicy: IfNotPresent
  configmap:
    name: n3iwf-configmap
  volume:
    name: n3iwf-volume
    mount: /free5gc/config/
    tlsmount: /free5gc/config/TLS
    certmount: /free5gc/cert
  # network paramters
  n2if:  # NGAP
    ipAddress: 10.100.50.251
  n3if:  # GTPU
    ipAddress: 10.100.50.237
  ike:  # define an interface for the IKE daemon as mentioned in the free5gc github README.md
    ipAddress: 10.100.50.15
    name: ikenetwork
    masterIf: eth0
    subnetIP: 10.100.50.0
    cidr: 24
    gatewayIP: 10.100.50.1

  podAnnotations: {}
    # additional annotations
  imagePullSecrets: []
  podSecurityContext: {}
  securityContext:
    capabilities:
      add: ["NET_ADMIN"]
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 1
    timeoutSeconds: 1
    failureThreshold:  40
    successThreshold: 1
  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 10
    failureThreshold: 3
    successThreshold: 1
  nodeSelector: {}
  tolerations: []
  affinity: {}
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  configuration:
    nasTcpPort: 20000
    ikeBindAddress: 10.100.50.15
    ipSecTunnelAddress: 10.0.0.1
    ueIpAddressRange: 10.0.0.0/24
    xfrmInterfaceName: ipsec
    xfrmInterfaceID: 7
    fqdn: n3iwf.free5gc.org
    privateKey: ./cert/n3iwf.key
    certificateAuthority: ./cert/n3iwf.pem
    certificate: ./cert/n3iwf.pem
    livenessCheck:
      enable: true
      transFreq: 60s
      maxRetryTimes: 4
    n3iwfInformation:
      globalN3IWFID:
        plmnID:
          mcc: 208
          mnc: 93
        n3iwfID: 135
      name: free5GC_N3IWF
      supportedTAList:
        - tac: "000001"
          broadcastPlmnList:
            - plmnID:
                mcc: 208
                mnc: 93
              taiSliceSupportList:
                - snssai:
                    sst: 1
                    sd: "010203"
                - snssai:
                    sst: 1
                    sd: "112233"

    # Metrics configuration
    metrics:
      enable: false # (Optional, default false)
      scheme: http # (Required) the protocol for metrics (http or https, default https)
      port: 9091 # (Optional, default 9091) port used to bind the service
      namespace: free5gc # (Optional, default free5gc)

    # the kind of log output
      # debugLevel: how detailed to output, value: trace, debug, info, warn, error, fatal, panic
      # ReportCaller: enable the caller report or not, value: true or false
    logger: # log output setting
      enable: true # true or false
      level: info # how detailed to output, value: trace, debug, info, warn, error, fatal, panic
      reportCaller: false # enable the caller report or not, value: true or false

# These parameters apply in case of deployinh N3IWF if a different cluster from the one where AMF is deployed and a Kubernetes service is used for AMF' N2 interface
multiCluster: false
cpClusterIP: ""
