#
# Software Name : free5gc-compose
#
{{- with .Values.chf }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "free5gc-chf.fullname" $ }}-{{ .name }}
  labels:
    {{- include "free5gc-chf.labels" $ | nindent 4 }}
    project: {{ $.Values.global.projectName }}
    nf: {{ .name }}
spec:
  {{- if not .autoscaling.enabled }}
  replicas: {{ .replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "free5gc-chf.selectorLabels" $ | nindent 6 }}
      project: {{ $.Values.global.projectName }}
      nf: {{ .name }}
  template:
    metadata:
      annotations:
        {{- include "free5gc-chf.chfAnnotations" $ | nindent 8 }}
        checksum/config: {{ include (print $.Template.BasePath "/chf-configmap.yaml") $ | sha256sum }}
      labels:
        {{- include "free5gc-chf.selectorLabels" $ | nindent 8 }}
        project: {{ $.Values.global.projectName }}
        nf: {{ .name }}
    spec:
      imagePullSecrets:
        {{- toYaml .imagePullSecrets | nindent 8 }}
      securityContext:
        {{- toYaml .podSecurityContext | nindent 8 }}
      initContainers:
        - name: wait-nrf
          {{- with $.Values.initcontainers.curl }}
          image: {{ .registry }}/{{ .image }}:{{ .tag }}
          {{- end }}
          env:
          - name: DEPENDENCIES
            value: {{ $.Values.global.sbi.scheme }}://{{ $.Values.global.nrf.service.name }}:{{ $.Values.global.nrf.service.port }}
          command: ['sh', '-c', 'set -x; for dependency in $DEPENDENCIES; do while [ $(curl --insecure --connect-timeout 1 -s -o /dev/null -w "%{http_code}" $dependency) -ne 200 ]; do echo waiting for dependencies; sleep 1; done; done;']
      containers:
        - name: {{ .name }}
          securityContext:
            {{- toYaml .securityContext | nindent 12 }}
          image: {{ .image.name }}:{{ .image.tag | default $.Chart.AppVersion }}
          imagePullPolicy: {{ .image.pullPolicy }}
          securityContext:
            {{- toYaml .securityContext | nindent 12 }}
          ports:
            - containerPort: {{ .service.port }}
          command: ["./chf"]
          args: ["-c", "./config/chfcfg.yaml"]
          env:
            - name: GIN_MODE
              value: release
          volumeMounts:
            - mountPath: {{ .volume.mount }}
              name: {{ include "free5gc-chf.fullname" $ }}-volume
            - mountPath: {{ .volume.tlsmount }}
              name: {{ include "free5gc-chf.fullname" $ }}-empty-volume
          resources:
            {{- toYaml .resources | nindent 12 }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      nodeSelector:
        {{- toYaml .nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .affinity | nindent 8 }}
      tolerations:
        {{- toYaml .tolerations | nindent 8 }}
      
      volumes:
        - name: {{ include "free5gc-chf.fullname" $ }}-volume
          projected:
            sources:
            - configMap:
                name: {{ include "free5gc-chf.fullname" $ }}-configmap
        - name: {{ include "free5gc-chf.fullname" $ }}-empty-volume
          emptyDir: {}
{{- end }}
